language: python
sudo: required
python:
  - "3.6"
  - "3.7"
cache: pip3
install:
  - sudo apt-get update
  - sudo apt-get -y install python3-pyqt5
  - pip3 install -r requirements.txt
  - pip3 install pytest
  - pip3 install pytest-cov
  - python setup.py install
script:
  - py.test --cov RIXSPlot test # Run the tests and check for test coverage.
  - python -bvm RIXSPlot # Rub the interface in the verbose mode
